---
// filepath: /c:/Proyectos/AstroTutorial/Astro/AstroTutorial/src/pages/index.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import Carousel from "../components/Carousel.astro";
import RotatingCard from "../components/RotatingCard";
const pageTitle = "Página de inicio";
const allPosts = Object.values(
  import.meta.glob("../pages/posts/*.md", { eager: true }),
);
---

<BaseLayout>
  <div class="centered-container"></div>
  <RotatingCard client:load />
  <Carousel posts={allPosts} />
</BaseLayout>

<style>
  .centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
</style>
