---

---

<div class="nav-links">
  <a href="/blog">Blog</a>
  <a href="/about">Sobre mi</a>
  <a href="/cv/">Cv</a>
  <a href="/tags/">Glosario</a>
</div>

<style>
  .nav-links {
    display: flex;
    gap: 1rem;
  }
  .nav-links a {
    text-decoration: none;
    color: black;
  }
</style>