---
const { platform, username } = Astro.props;

const logos = {
  linkedin: "/public/linkedin-logo.svg",
  github: "/public/github-logo.svg",
  instagram: "/public/instagram-logo.svg",
};

const logo = logos[platform.toLowerCase()];
---

<a href={`https://www.${platform}.com/${username}`} target="_blank" rel="noopener noreferrer">
  <img src={logo} alt={`${platform} logo`} />
</a>

<style>
  a {
    padding: 0.5rem;
    display: inline-block;
  }
  img {
    width: 50px; 
    height: 50px; 
  }
</style>